#minefield {
  display: flex;
  flex-direction: row;
}

.cell-column {
  display: flex;
  flex-direction: column;
}

.hidden {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: gray;
}

.revealed {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background-color: white;
}
